<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:substituteby="common/head :: head('Home | WanderingNet')" data-req-modules=""></head>
<body class="page-home">
    <div class="presentation" id="home-presentation">
        <div class="presentation-container">
            <h1 class="presentation-title">Liquen</h1>
            <h3>/ˈlʌɪk(ə)n,ˈlɪtʃ(ə)n/</h3>
            <h3><i>noun</i></h3>
            <h4>1. Any of many symbiotic organisms, being associations of fungi and algae; often found as white or yellow patches on old walls, etc.</h4>
        </div>
    </div>

    </div>
    <div th:substituteby="common/footer :: scripts"></div>
</body>
</html>