<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>
<body>

<div th:fragment="scripts">
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script defer="defer" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script defer="defer" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script defer="defer" src="/static/js/script.js"></script>
</div>
</body>
</html>